<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <title>PDF Compressor</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', path='/style.css') }}"
        />
    </head>
    <body>
        <div class="container">
            <h1>Сжатие PDF</h1>
            <p>Оптимизация размера</p>

            <form
                action="/compress"
                method="post"
                enctype="multipart/form-data"
            >
                <div class="drop-zone" id="drop-zone">
                    <span class="drop-zone__prompt">Перетащите PDF сюда</span>
                    <input
                        type="file"
                        name="file"
                        class="drop-zone__input"
                        id="file-input"
                        accept=".pdf"
                        required
                    />
                </div>
                <button type="submit" class="btn">Сжать сейчас</button>
            </form>

            {% if message %}
            <div
                class="status-msg {% if success %}success{% else %}error{% endif %}"
            >
                {{ message }}
            </div>
            {% endif %} {% if download_link %}
            <a href="{{ download_link }}" class="download-btn"
                >⬇️ Скачать результат</a
            >
            {% endif %}
        </div>

        <script>
            const dropZone = document.getElementById("drop-zone");
            const fileInput = document.getElementById("file-input");

            dropZone.addEventListener("click", () => fileInput.click());
            fileInput.addEventListener("change", () => {
                if (fileInput.files.length) {
                    dropZone.querySelector(".drop-zone__prompt").textContent =
                        fileInput.files[0].name;
                }
            });
        </script>
    </body>
</html>
